__pycache__/
*.pyc
.venv/
venv/
.env
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/checkpoints/*
!models/checkpoints/.gitkeep
models/scalers/*
!models/scalers/.gitkeep
outputs/*
!outputs/metrics/.gitkeep
!outputs/plots/.gitkeep
!outputs/alerts/.gitkeep
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
